*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}
.navbar{

  height: 60px;
  background-color: #0F1111;
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */

}

.nav-logo{
  height: 50px;
  width: 100px;
  padding: 0px 5px 0px 5px;
  
}

.logo{
  background-image: url(amazon_logo.png);
  background-size: cover;
  height: 60px;
  
  /* padding: 0px 7px 0px 5px; */

}
.logo:hover{
  border: 1.5px solid white;
}
.nav-add{
  padding: 0px 30px 0px 10px
;
}
.right{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.nav-add > p{
  font-size: 12px;
  color: #CCCCCC;
  margin-left: 1.29rem;
}
.nav-add:hover{
  border: 1px solid white;
}

.nav-add > p > p{
  font-size: 19px;
  color: #ffffff;
}
.loc-icon{
  display: flex;
  align-items: center;
}
.nav-search{
  display: flex;
  justify-content: space-evenly;
  background-color:none;
  width: 900px;
  height: 40px;
  border-radius: 4px;
  padding: 10px 4px 10px 3px
;
}

.search-select{
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}
.search-input{
  width: 100%;
  font-size: 1rem;
  border: none;
  color: black;
}
.search-input.search-select:hover{
  border: 3px solid orange;
}

.search{
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: black; */
  font-size: 21px;
  color: #0F1111;
  background-color: #febd68;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.lang{
  display: flex;
  padding: 0px 8px 2px 5px;
  justify-content: center;
  align-items: center;
}
.lang:hover{
  border: 1.5px solid white;
}
.account:hover{
  border: 1.4px solid white;
}
.account{
  /* padding: 0px 0px 10px px; */
}

.eng{
  border: none;
  background-color:#0F1111 ;
  color: #f3f3f3;
}
a{
  color: #f3f3f3;
  border-bottom: none;
  text-decoration: none;
}

.n{
  font-size: 12px;
}
.b1{
  font-size: 14px;
  font-weight: 700;
}
.r1{
  font-size: 12px;
}

.or{
  font-size: 14px;
  font-weight: 700;
}
.order{
  padding: 0px 9px 0px
;
}
.order:hover{
  border: 1.5px solid white;
}
.cart i {
  font-size: 29px;
}

.cart {
  display: flex;
  font-weight: 700;
  margin: 11px 11px 0px 2px;
  padding: 0px 7px 9px 7px;
  justify-content: center;
  align-items: center;
}
.cart:hover{
  border: 1.5px solid white;
}
.panel{
  background-color: #232f3e;
  color: #ffffff;
  padding: 7px 8px;
  display: flex;
  gap: 20px;
  font-size: 13.9px;
  align-items: center;
  font-weight: 500;

}
.border:hover{
  border: 
  1px solid rgb(244, 242, 242);
}
.hero-section{
  background-image: url(bg.png);
  background-size: cover;
  height: 315px;
  /* display: flex;
  justify-content: center;
  align-items: flex-end; */
  margin: 0px  10px;
  position: absolute;
  width: 98.6%;
}
.hero-msg{
  background-color:#ffffff;
  color: black;
  height: 30px;
  width: 98%;
  text-align: center;
  margin-top: 250px;
  margin-left: 15px;
  position: relative;
  font-size: 1.rem;
  padding-top: 10px;
}
.hero-msg > a {
  color: blue;
}
.content{
  width: 98.6%;
  height: 420px;
  margin-left: 10px;
  margin-top: 314px; /* adjust as needed */
  background: linear-gradient(to bottom,rgb(252, 106, 2) 1% , rgb(232, 230, 230)40%);
  position: absolute;
  display: flex;
}

.home{
  background-color: rgb(255, 255, 255);
  /* position: relative; */
  margin-left: 15px;
  padding: 8px;
  height: 380px;

  border: 2px solid none;
}
.a1{
  display: flex;
  gap:10px;
  padding-bottom: 35px;
}
.p{
  font-size: 13px;
  font-weight: 600;
}
h2{
  font-size: 21px;
  padding: 5px;
}
.a2{
  display: flex;
  gap:10px; 
  padding-bottom: 24px;
}
.a1a{
  font-size: 12px;
  color: blue;
  font-weight: 500;
}
.z{
  height: 100%;
  width: 9.9rem;;

}
.game{
  background-color: rgb(255, 255, 255);
  position: relative;
  margin-left: 15px;
  padding: 8px;
  height: 380px;
  border: 2px solid none;
}
.r{
  height: 800px;
  margin-left: 15px;
}
.r{
  height: 800px;
  margin-left: 15px;
}

.recom{
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
  word-spacing: 2px;
}
.sign{
  /* border: 2px solid orange; */
  width: 130px;
  justify-content: center;
  margin-left: 678px;
  margin-top: 10px;
  background-color: #ffd503;
  height: 1. rem;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  font-size: 12.5px;
}
.cus{
  font-size: 11.4px;
  padding-top: 4px;
  word-spacing: 3px;
  font-weight: 500;
}
.st{
  color: blue;
  text-decoration: solid;
  padding-bottom: 12px;
}
.top{
  background-color: #2e4057;
  justify-content: center;
  text-align: center;
  height: 39px;
  padding-top: 20px;
  padding-left: 26px;
  font-size: 12.9px;
  word-spacing: 2.6px;
  font-weight: 600;
}
h3{
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.last{
  display: flex;
  background-color: #232F3E;
  /* word-spacing: 2px; */
  gap: 7rem;
  padding-top: 50px;
  font-size: 14px;
  font-weight: 200;
  padding-left: 15rem;
  line-height: 2rem;
  padding-bottom: 45px;
}
.head{
  font-weight: 700;
}
.final{
  background-color: #232F3E;
  display: flex;
  height: 7rem;
  justify-content: center;
  text-align: center;
}
.log{
  padding-top: 28px;
  padding-right: 70px;
}
.f{
  padding-top: 34px;
}
.sel{
  background-color: #232F3E;
  padding-right: 5px;
}
.hin{
background-color: #232F3E;
color: #f3f3f3;
border: 2px solid gray;
padding: 5px;
border-radius: 4px;
}
.coun{
padding-left: 5px;
width: 5px;
}
