* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    /* padding-left:10vw; */
    background-color: black;
}

.main {
    background-image: url(assest/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 95vh;
    position: relative;
}

.main .box {
    height: 95vh;
    width: 100vw;
    opacity: 0.74;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 70vw;
    display: flex;
    margin: auto;
    font-weight: 400;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

nav img {
    /* color: red; */
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;

}

.hero {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 83vh;
}

.hero h1 {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 56px;
    position: relative;
    z-index: 10;
    font-weight: 900;
    padding: 0px 0px 10px 0px;
}

.hero p {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: relative;
    z-index: 10;
    font-weight: 500;
    margin: 0px 0px 24px 0px;

}

.hero h3 {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    position: relative;
    z-index: 10;
    font-weight: 400;
}

.hero .req {
    padding: 16px 0px 0px 0px;
    position: relative;
    z-index: 10;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}

.btn_red {
    padding: 12px 24px;
    margin-left: 7px;
    font-size: 24px;
    background-color: rgb(255, 0, 13);
    color: #ffffff;
    font-weight: 500;
    border-radius: 5px;
    width: 15vw;
}

.btn_red:hover {
    background-color: rgb(167, 20, 28);
    ;
}

.email {
    padding: 24px 16px 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background: transparent;
    border-radius: 5px;
    color: #ffffff;
    width: 25vw;
    height: auto;

}

.btn_si {
    padding: 4px 16px;
    font-size: 14px;
    font-weight: 500;
    background-color: red;
    color: #ffffff;
    border-radius: 5px;

}

.btn_si:hover {
    background-color: rgb(167, 20, 28);
}

.btn {
    position: relative;
    z-index: 10;
    padding: 1px 6px 4px 1px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    display: flex;
    background-color: rgb(27, 27, 27);
    color: #ffffff;
}
.btn select{
    border : none;
    font-size :16 px;
    font-weight:400;
    background-color: rgb(27, 27, 27);
    color :white;
    font-weight: 600;
    font-size:16px;
    border:none ;
}

.ribbon {
    border: 4px solid red;
    border-radius: 200% 200% 0% 0%;
    height: 100px;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.body{
    padding:0px 10vw;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body h2 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    padding: 1.5rem 0px;
}
.body .cards h2{
    padding: 0px 0px 1.5rem 0px;
    
}

.cardcon {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    column-gap: 50px;
    flex-wrap: wrap;
    width:100%;
    padding: 1rem 0px 1rem 0px;

}

.main-card {
    width: 200px;
    height: 300px;
    border-radius: 13px;
    background-size: cover;
    background-size: cover;
    position: relative;
}

.main-card:hover {
    transition: all 1s ease-out;
    transform: scale(1.09);
}

.card1 {
    background-image: url("assest/summerslam.webp");
    background-size: cover;
}

.card2 {
    background-image: url("assest/squid.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card3 {
    background-image: url("assest/raid.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card4 {
    background-image: url("assest/kapil.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card5 {
    background-image: url("assest/murder.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-bot {
    color: black;
    -webkit-text-stroke: 2px white;
    font-weight: 700;
    font-size: 110px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 20px;
    left: -30px;

}

.reason {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.recard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 50px;
    padding-top: 15px;
    text-align: center;
}

.parts {
    background: hsla(212, 46%, 33%, 1);

    background: linear-gradient(315deg, hsla(212, 46%, 33%, 1) 0%, hsla(240, 1%, 15%, 1) 71%, hsla(334, 94%, 21%, 1) 100%);

    background: -moz-linear-gradient(315deg, hsla(212, 46%, 33%, 1) 0%, hsla(240, 1%, 15%, 1) 71%, hsla(334, 94%, 21%, 1) 100%);

    background: -webkit-linear-gradient(315deg, hsla(212, 46%, 33%, 1) 0%, hsla(240, 1%, 15%, 1) 71%, hsla(334, 94%, 21%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#2E527B", endColorstr="#262627", GradientType=1);

    width:100%;
    height:280px;
    border-radius: 20px;
    position: relative;
}
.parts h3{
    font-size:24px;
    font-weight: 700;
    padding: 15px 5px 10px 5px;
}
.parts p{
    font-weight: 400;
    font-size: 16px;
}
.svgicon{
    position: absolute;
    bottom: 10px;
    right:10px;
}
.faq{
    color:#ffffff;
    display: flex;
    flex-direction:column;
}
.faqquestions{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom:2rem;
}
.questions{
    background-color: rgb(45, 45, 45);
    width:100;
    height :80px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding :30px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size:24px;
    cursor: pointer;
    color:white;
    border:0px;
}
.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.member h3{
    color:white;
    font-size: 16px;
    font-weight:400;
    padding :1rem;
}

footer{
    display:flex;
    flex-direction: column;
    color:rgb(175 173 173);;
}
footer span:first-of-type{
    padding:50px 0px 30px 0px;
}
footer .links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;            
    row-gap: 20px; 
    column-gap: 5px;
}
.b{
    display: flex;
    gap: 12px;
}
.links a{
    color:rgb(175 173 173);
}
footer div{
    margin-bottom:40px  ; 
}
footer div:nth-of-type(2){
    margin : 40px 0px;
    font-size:14px;
}
footer div:nth-of-type(3){
    font-size:14px;
}
.lang{
    border : 0.5px  solid rgba(205, 203, 203, 0.688);
    width:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 1px;
}
footer select{
    height:25px;
    /* width:80px; */
    padding : auto ; 
    background-color: black;
    color 
    :white;
    font-weight: 600;
    font-size:14px;
    border:none ;
}