
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Arial, sans-serif;
}



nav {
    background-color: white;
    height: 10vh;
    display: flex;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;

}

.logo {
    display: flex;
    position: absolute;
    left: 2rem;
    gap: 1.5rem;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 150px;
    height: 70px;
}

.logo a {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style: none;
    position: absolute;
    height: 70px;
    right: 0px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-weight: 500;
}

.nav-list li {
    margin: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(50, 147, 147);
    /* text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
}

.nav-list li:nth-child(5) {
    background-color: rgb(241, 0, 0);
    border-radius: 15px;
    padding: 1rem 0rem;
    margin-left: 1.5rem;

}

.nav-list li:nth-child(5) a {
    color: white;
    font-weight: 600;
    margin: 1rem 1.5rem;
}

.nav-list li:nth-child(6) {
    background-color: rgb(187, 185, 185);
    border-radius: 15px;
    padding: 1rem 0rem;
    margin-left: 0.05rem;

}

.nav-list li:nth-child(6) a {
    color: black;
    font-weight: 600;
    margin: 1rem 1.5rem;
}


.signform {
    position: relative;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url("assest/image.jpeg");
    background-attachment: fixed;
    background-color: red;
    background-size: cover;
    background-position: center;
}

.loginn {
    padding: 4px 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    height: 29px;
    width: 15rem;
    text-align: center;
    background-color: rgb(255, 0, 0);
}

.about {
    position: absolute;
    top: 70px;
    left: 0;
    width: 50vw;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about div {
    width: 30vw;
    height: 50%;
    display: flex;
    top: 20rem;
    justify-content: center;
    font-size: 70px;
    word-spacing: 1px;
    color: white;
    font-weight: 1000px;
}

.formcontent {
    position: absolute;
    top: 70px;
    left: 0;
    width: 30vw;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logoimg {
    width: 110px;
    height: 60px;
    position: absolute;
    top: -50px;
}

.logform {
    position: absolute;
    top: 0px;
    right: 0;
    width: 50vw;
    height: calc(100vh);
    display: flex;
    /* align-items: center; */
    justify-content: center;

}

.formdoc {
    position: absolute;
    width: 65vh;
    height: 90vh;
    display: flex;
    top: 5vh;

    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    border-radius: 25px;
}

.formtitle {
    width: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.838);
    text-align: center;
    position: absolute;
    top: 0px;

}

.form {
    width: 20vw;
    margin: 0px auto;
}

.form-group {
    width: 80%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110px;
    left: 80px;
}

label {
    color: rgba(0, 0, 0, 0.838);
    font-weight: 400;
}

.form-group input {
    height: 45px;
    width: 17rem;
    margin: 5px 0px 8px 0px;
    border-radius: 10px;
    display: block;
    border: 0.2px solid rgb(37, 37, 37); 
    padding: 0 5px;  
    /* margin-bottom: 15px; */
    font-size: 16px;
}
.forgot{
    color :rgb(1, 83, 106);
    text-decoration: none;
    /* font-weight: 400; */
}
.forgot:hover{
    color :rgb(1, 50, 106);
    text-decoration: underline;
}
.btn {
    width: 88%;
    height: 35px;
    background-color: rgb(241, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    margin: 7.5px 0px 7.5px 0px;

}
.btn-log:hover {
    background-color: rgb(200, 0, 0);
}
.choice {
    width: 17rem;
    padding: 0rem 125px;
}
.btn-fab{
    background-color: rgb(0, 115, 255);
    border-radius: 0%;
}
.btn-gog{
    background-color: rgb(255, 255, 255);
    border-radius: 0%;
    color: rgba(0, 0, 0, 0.649);
    border: 0.5px solid rgba(66, 66, 66, 0.649);
}
.btn div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.btn img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.disclaim {
    width: 17rem;
    font-size: 12px;
    color: rgba(47, 43, 48, 0.867);
    margin-top: 10px;
    text-align: center;
    line-height: 10px;
}
.disclaim a {
    color: rgba(47, 43, 48, 0.867);
    text-decoration: underline;
}
.not-on-pinterest {
    width: 17rem;
    font-size: 12px;
    color: rgba(47, 43, 48, 0.867);
    margin-top: 10px;
    text-align: center;
    line-height: 10px;
}

.not-on-pinterest a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.business {
    width: 17rem;
    font-size: 12px;
    color: rgba(47, 43, 48, 0.867);
    margin-top: 10px;
    text-align: center;
    line-height: 10px;
}

.business a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.section2{
    position:relative;
    min-height:90vh;
    width:100%;
    background-color:#ffff0078;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 .left{
    width:50vw;
    height:90vh;
    position : absolute;
    top:0vh;
    left:0px;
}
.section2 .left img{
    height: 80vh;
    object-fit: cover;
}
.section2 .right{
    width:50vw;
    height:90vh;
    position : absolute;
    top:0vh;
    right:0px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
.section2 .right h1{
    position: absolute;
    top:25vh;
    font-size: 50px;
    font-weight: 700;
    color: rgb(195, 25, 82);
    text-align: center;
    margin-bottom:10px;
}
.section2 .right p{
    position: absolute;
    top:35vh;
    width: 45%;
    font-size: 20px;
    font-weight: 500;
    color: rgb(195, 25, 82);
    text-align: center;
}
.section2 .right button{
    position: absolute;
    top: 55vh;
    width: 100px;
    height: 50px;
    background-color: #cd0000;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.section3{
    position:relative;
    min-height:90vh;
    width:100%;
    display: flex;
    align-items: center;
    background-color: #7fffd466;
}
.section3 .left{
    width:50%;
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(0, 86, 87);
}
.section3 h1{
    font-size: 60px;
    margin-bottom: 16px;
    padding: 0 10px;
    width:80%;
    text-align: center;
}
.section3 h2{
    text-align: center;
    font-size: 24px;
    width:45%;
}
.section3 button{
    width: 100px;
    height: 50px;
    background-color:   #cd0000  ;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.section3 .right{
    width:50%;
    height:90vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.section3 .right .block{
    position:relative;
    width:90%;
    height:100%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}
.img{
    position:absolute;
    padding :20px;
    font-size:56px;
    font-weight: 500;

}
.image1{
    height:400px;
    width:400px;
    top:0;
    left:0;
    background-image: url(assest/ideas/image1.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:56px;
    font-weight: 500;
}


.image2{
    height:200px ;
    width:200px;
    background-image: url(assest/ideas/image2.png);
    background-size: cover;
    top:0;
    left:450px;
    text-align: left;
    display: flex;
    align-items: end;
    font-size:28px;
    font-weight: 600;


}
.image3{
    height:150px;
    width:150px;
    background-image: url(assest/ideas/image3.png);
    background-size: cover;
    top:250px;
    left:440px;
    font-size:20px;
    font-weight: 600;
    display: flex;
    align-items: end;
}
.image4{
    height:200px;
    width:200px;
    background-image: url(assest/ideas/image4.png);
    background-size: cover;
    top:480px;
    left:200px;
    font-size:28px;
    font-weight: 600;
    display: flex;
    align-items: end;
}
.image5{
    height:200px;
    width:200px;
    background-image: url(assest/ideas/image5.png);
    background-size: cover;
    right:40px;
    bottom:-32px;
    font-size:28px;
    font-weight: 600;
    display: flex;
    align-items: end;
}
.section4{
    position: relative;
    min-height:80vh;
    width:100%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 226, 235);
}
.section4 .left{
    width:50%;
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-image: url("assest/save/shop.png");
    background-size: cover;
    padding-left:100px;
}
.section4 .bottom{
    position: relative;
    left: 80px;
    color: #fff;
}
.section4 .right{
    width:50%;
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(195, 47, 0);
}
.section4 .right div:nth-of-type(1){
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 420px;
    /* margin-bottom: 15px; */
}
.section4 .right div:nth-of-type(2){
    font-size:24px;
    text-align: center;
    width:420px;
    padding : 15px  5px;
}
.section4 button{
    width: 100px;
    height: 50px;
    background-color: #cd0000;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.footer{
    height:5vh;
    width:100%;
}
.footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
}
.footer ul li  a{
    text-decoration: none;
    color:blue;
}