.section1  {
    color:purple;
    /* line-height: 1.5rem; */
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    background-image: url('facebook.png');
    background-repeat: no-repeat;
    background-size: 100%
    ;
    background-attachment: fixed;
    text-align: center;
    height : 100vh;
}
.section2 {
    color: green;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('google.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    text-align: center;
    height: 100vh;
}
.section3 {
    color: blue;
    font-size: 1.8rem;
    font-family: 'Georgia', serif;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    height: 100vh;
}